body{
    background-color: aquamarine;
}
.flex-container{
    display: flex;
    background-color: rgb(2, 72, 178);


    flex-flow:column;
    align-items: center;
}
.flex-container>div{
    background-color: rgb(254, 254, 254);
    width: 50px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}